<div class="container">
<%= form_with(scope: :session, local: true, url: sessions_path) do |form| %>

  <div class="user_name">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "name" %>
  </div>
  <div class="user_email">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "email@email.com" %>
  </div>
  <div class="user_password">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="user_password">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password_confirmation" %>
  </div>
  <%= form.submit "ログインする", class: "btn btn-default" %>
<% end %>
</div>
