<h1 class="title"><%=t :blog_detail %></h1>
<div class="container">
  <% unless @blog.user == current_user %>
    <% if @favorite.present? %>
      <%= link_to favorite_path(blog_id: @blog.id), method: :delete do %>
        <i class="fa fa-star fa-2x"></i>
      <% end %>
    <% else %>
      <%= link_to favorites_path(blog_id: @blog.id), method: :post do %>
        <i class="fa fa-star faa-flash animated fa-2x"></i>
      <% end %>
    <% end %>
  <% end %>
  <h2><%=t :author %></h2>
  <p><%= @blog.user.name %></p>
  <h2><%=t :title %></h2>
  <p><%= @blog.title %></p>
  <h2><%=t :content %></h2>
  <p><%= @blog.content %></p>
  <p><%= image_tag @blog.image %></p>
</div>
