<h1 class="title">ブログ詳細</h1>
<div class="container">
  <% unless @blog.user == current_user %>
    <% if @favorite.present? %>
      <%= link_to '', favorite_path(blog_id: @blog.id), method: :delete, class: 'glyphicon glyphicon-star' %>
    <% else %>
      <%= link_to '', favorites_path(blog_id: @blog.id), method: :post, class: 'glyphicon glyphicon-star-empty' %>
    <% end %>
  <% end %>
  <h2>投稿者</h2>
  <p><%= @blog.user.name %></p>
  <h2>タイトル</h2>
  <p><%= @blog.title %></p>
  <h2>内容</h2>
  <p><%= @blog.content %></p>
</div>
