<div class="container">
<% unless notice.blank? %>
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<%= form_with(model: @user, local: true, url: choose_new_or_edit_user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%=t :occurred, count: @user.errors.count %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_name">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "name" %>
  </div>
  <div class="user_email">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "email@email.com" %>
  </div>
  <div class="user_password">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="user_password">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password_confirmation" %>
  </div>
  <div class="user_image">
    <%= form.label :image %>
    <%= form.file_field :image, id: :user_image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <%= form.submit t: :submit, class: "btn btn-default" %>
<% end %>
</div>
